#delete,
#stop,
#closePopup {
  border-color: #ef4444;

  &:is(:hover, :active) {
    background-color: #ef4444;
  }
}

#raceReset,
#updateCar {
  border-color: #f97316;

  &:is(:hover, :active) {
    background-color: #f97316;
  }
}

#generateCars {
  border-color: #3b82f6;

  &:is(:hover, :active) {
    background-color: #3b82f6;
  }
}

#prevPage,
#nextPage,
#addCar,
#updateCar {
  flex-grow: 0;
  padding: 2px 10px;
}

#track {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 15px;
    width: 2px;
    height: 70px;
    background-color: #000;
  }

  &::before {
    left: 100px;
  }

  &::after {
    right: 100px;
  }
}
