main {
  padding-bottom: 10px;
}

button {
  display: flex;
  flex-grow: 2;
  border: 1px solid #22c55e;
  border-radius: 9999px;
  padding: 2px 5px;

  span {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }

  &:is(:hover, :active) {
    color: #fff;
    background-color: #22c55e;
  }
}

#closePopup {
  flex-grow: 0;
}

@media screen and (max-width: 640px) {
  button {
    flex-grow: 0;
  }
}